<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog"
      autoReload="true"
      throwExceptions="false" keepVariablesOnReload="true" internalLogIncludeTimestamp="true">

	<targets>
		<target name="asynclogfile" xsi:type="AsyncWrapper">
			<target xsi:type="File" name="logfile" fileName="${basedir}/nlog/${level}/AppLog_${shortdate}.log"
			        lineEnding="CR"
			        encoding="utf-8"
			        maxArchiveFiles="30"
			        maxArchiveDays="30"
			        keepFileOpen="true"
			        concurrentWrites="true"
			        layout="${longdate}|${level}|${logger}|${message} | ${all-event-properties} ${exception:format=tostring}${newline}"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="asynclogfile" />
	</rules>
</nlog>